## 1. Introduction to Jupyter Notebook:

### 1.1 Code blocks:

In [120]:
x=input("x=:")
y=input("y=:")
x+y

x=:1
y=:2

'12'

In [121]:
x=int(input("x=:"))
y=int(input("y=:"))
x+y

x=:1
y=:2

3

In [55]:
a = 1
a

1

In [57]:
b = 2

In [58]:
b = 3

In [59]:
a + b

4

### 1.2 Markdown/LaTeX :

You can type mathmatical formulas:
$$ f(x)= \frac{e^{-\frac{1}{2}x^2}}{\sqrt{2\pi}} \sqrt{g(x)} $$

You can also insert image:![Image](https://www.ie.edu/exponential-learning/blog/wp-content/uploads/2018/01/MachineLearninginMarketing-1621x1000.jpg)

Also table, 


1.   item 1
2.   item 2
3.   item3

Code:

```
a,b = 10,20
```

```
from pandas import DataFrame
```



For course and homework, we would widely use markdown as the format for our presentation and illustration.

## 2. Python Basics -- variables, operators, expressions

***Now welcome to Python's world!***

Python is a weak type programming language, which means, different from strong type programming language, like Java C/C++, you don't need to claim a variable and declare its type before you use it.

In Java, it may seems like:
```
int a = new Integer(5);
```

However in python,  it can be quite straightforward:
```
a = 5

a = "5"
```
It's good when :
1. Generic programming, when we only need to use the same feature of the object, we can use the same code without re-writing a new piece of code.

2. Can save your time in all the declaration and claim.

But if needed, we can also try to get the type of the variable.

So take care when you write python scripts, make sure you know the type of your variables.

### 2.1 Type function

In [1]:
type("Hello, World!")

str

In [2]:
type(1)

int

In [3]:
type(3.2)

float

In [4]:
type("3.2")

str

In [5]:
type("17")

str

### 2.2 str -- string

In [6]:
type('string')

str

In [7]:
type("string")

str

In [8]:
type("""str  1 \n ing""")

str

In [9]:
type('''string''')

str

### 2.3 The assignment statement gives a value to a variable:
One of the most powerful features of a programming language is the ability to manipulate
variables. A variable is a name that refers to a value.

In [10]:
message = " This is a 'message'."

print(message)

 This is a 'message'.

In [11]:
print(message)

 This is a 'message'.

In [12]:
print(type(message))

<class 'str'>

In [13]:
type(message)

str

In [14]:
message = '''
This is a "message" \n and 'message'.
'''
print(message)

This is a "message"
 and 'message'.

### 2.4 Numbers: int -- integer, float
Say "n gets the value of 10." Don't say "n equals 10."

In [15]:
n = 10
type(n)

int

In [16]:
m = 10.0
type(m)

float

In [17]:
pi = 3.1415926
pi

3.1415926

In [18]:
pi

3.1415926

In [19]:
pi;

In [20]:
type(pi)

float

In [21]:
print(pi)

3.1415926

You can re-assign a new value to a ***variable***:

In [22]:
pi=3.14
pi

3.14

Cannot assign value reversely:

In [23]:
10 = n

SyntaxError: cannot assign to literal (<ipython-input-23-7ddc76092920>, line 1)

In [24]:
10 == n

True

In [25]:
n == 10

True

### 2.5 Give variable a name:

A normal case:

In [26]:
num_10 = 10
num_10

10

In [27]:
num_students = 10
num_students

10

Some errors:
1. Starts with a number

In [28]:
10num = 10

SyntaxError: invalid syntax (<ipython-input-28-213608daabf0>, line 1)

In [29]:
_10num = 10
_10num

10

2. Contains invalid character:

In [30]:
num_$10 = 10

SyntaxError: invalid syntax (<ipython-input-30-e02a1e7fd13b>, line 1)

3. Can not use reserved key words:

In [31]:
break = 10

SyntaxError: invalid syntax (<ipython-input-31-9f64e1454aa4>, line 1)

In [102]:
else = 10
else

SyntaxError: invalid syntax (<ipython-input-102-c3748575b11d>, line 1)

Some good practice:

In [104]:
num_current_students = 20
num_current_students

20

In [57]:
numOfStudents = 20
numOfStudents

20

### 2.6 Operators
***Operators*** represent calculations like +,-,*,/, etc.

The results are called ***operands***.

#### 2.6.1 What kind of operators do we have in Python? What's the order?

In [105]:
1+1

2

In [106]:
10-2

8

In [107]:
3*5

15

In [108]:
10/5

2.0

In [109]:
13//4

3

In [110]:
13%4

1

In [111]:
n=3
10**n

1000

In [15]:
(3+5)*(4-2)

16

In [112]:
a = 10
b = 4
c = 6
a - b*c

-14

In [19]:
True & False

False

In [113]:
True | False

True

In [115]:
a = 10
a/2

5.0

#### 2.6.2 Can we apply operators out of numbers?

In [117]:
1+a

11

In [123]:
"abcdef" - "def"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [23]:
"Hello" + "__" + "World"

'Hello__World'

In [29]:
myStr='my string'
myStr / 5

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [30]:
myStr*5

'my stringmy stringmy stringmy stringmy string'

In [25]:
"AAA"*3

'AAAAAAAAA'

Another way for concating strings is .format()

In [51]:
"My son is {} years old.".format(16)

'My son is 16 years old.'

### 2.7 Evaluate an expression
An ***expression*** contains variables, values, operators, functions(we will mention later).
Python kernel/interpreter will help us evaluate the expression -- get the value or result of the expression.

In [39]:
1+1

2

In [40]:
10/5

2.0

In [41]:
a = 10
a/5

2.0

In [43]:
a = 10
a = a+1
a

11

In [36]:
len("Hello World")

11

In [44]:
type('1')

str

A special function is 'print'. Print did the same job as Python prompt, which displays the output in the console.

In [45]:
print(len("Hello World"))

11

### 2.8 Type converter function

In [51]:
t = "15"
type(t)

str

In [47]:
type("15")

str

In [62]:
int(3.14)

3

In [59]:
float(15)

15.0

In [58]:
str(15)

'15'

In [57]:
str(15.0)

'15.0'

In [60]:
str(float(15))

'15.0'

In [61]:
int("15 students")

ValueError: invalid literal for int() with base 10: '15 students'

### 2.9 Now let's build first tiny script!

In [66]:
r = 8
pi = "3.1415926"
area_r = float(pi) * (r ** 2)
print('Area of circle with radius {} is {}'.format(r, area_r))
R = r + 2
area_R = float(pi) * R ** 2
print('Area of circle with Radius {} is {}'.format(R, area_R))
area_diff = area_R - area_r
print('Area difference is {}'.format(area_diff))

Area of circle with radius 8 is 201.0619264
Area of circle with Radius 10 is 314.15926
Area difference is 113.09733360000001