## 1. Object Oriented Programming

#### 1.1  Attributes. Class and Object
By using class, we can put together some different kind of data:

In [ ]:
def

In [56]:
class Student(object):## 每一个object 属于某一种 class  
    
    def __init__(self, name, age):
    ## Attributions to be initialized
        self.name = name
        self.age = age
        self.best_class = 'Math'

In [52]:
st = Student('Peter', 19)

In [59]:
st

In [58]:
Student

__main__.Student

In [60]:
st.name

'Peter'

In [61]:
st.age

19

In [62]:
st.best_class

'Math'

In [63]:
st.sport

AttributeError: 'Student' object has no attribute 'sport'

#### 1.2 Methods
Not only data, we can also define functions on them:

In [1]:
class Student(object):
    
    def __init__(self, name, age):
    ## Attributions to be initialized
        self.name = name
        self.age = age
    
    def print_age(self):
        print("Now calling method for printing the age.")
        print(self.age)
    
    def print_name(self):
        print("Now calling method for printing the name.")
        print(self.name)
        
    def set_new_name(self, new_name):
        print('Now setting name to {}'.format(new_name))
        self.name = new_name
        
    def get_age_power(self,n):
        res = 1
        for i in range(1,n+1):
            res = res*self.age
        return res

In [85]:
'abc def'.split(' ')

['abc', 'def']

In [86]:
[1,2].append(4)

In [2]:
jason = Student('Jason Brad', 20)

In [100]:
type(jason)

__main__.Student

In [5]:
jason.print_name()

Now calling method for printing the name.
Jason Brad

In [101]:
jason.print_age

In [102]:
jason.print_age()

Now calling method for printing the age.
20

In [103]:
jason.age

20

In [105]:
a=8
a=a+2
a

10

In [104]:
jason.age = jason.age + 5
jason.age

25

In [106]:
jason.print_age()

Now calling method for printing the age.
25

In [107]:
jason.print_name()

Now calling method for printing the name.
Jason Brad

In [108]:
jason.set_new_name('Jason T Brad')

Now setting name to Jason T Brad

In [110]:
jason.print_name()

Now calling method for printing the name.
Jason T Brad

In [111]:
jason.name

'Jason T Brad'

In [97]:
jason.get_age_power(3)

15625

In [ ]:
get_square(10)

In [112]:
25*25*25

15625

In [ ]:
[1,'character',print]

In [113]:
[1, 'character', jason]

[1, 'character', <__main__.Student at 0x7fe86880e9d0>]

In [114]:
def get_age_square(student):
    return student.age**2

In [115]:
get_age_square(jason)

625

## 2. Modules

In [121]:
from functools import reduce

In [23]:
from functools import *

In [24]:
from pandas import DataFrame
from pandas import *

In [116]:
import numpy as np
import pandas as pd

In [117]:
?np.abs

In [118]:
np.abs(-1)

1

In [119]:
from numpy import abs

In [120]:
abs(-10)

10

In [122]:
from sample import sample_a

In [123]:
sample_a

20

In [124]:
import sample

In [125]:
sample.sample_a

20

In [126]:
st = sample.Student('Lily', 17)

In [127]:
st

## 3. Error handling

In [128]:
a="1"
b=a+2

TypeError: can only concatenate str (not "int") to str

In [129]:
## try - except
a = "1"
try:
    b = a + 2
    print("we get b")
except:
    print(a,'of type ', type(a), " is not a number")
finally:
    print("done")

1 of type  <class 'str'>  is not a number
done

In [130]:
try:
    import panda
    print('Import module with name panda')
except:
    print('Module panda does not exist, try to import module pandas')
    import pandas

Module panda does not exist, try to import module pandas